<!DOCTYPE html>
{% extends "base.html" %}

{% block title %} Faux/Snow - Details {% endblock %}

{% block content %}
<h1>Faux/Snow</h1>
        <p>Man-made snow forecasts for the Midwest and Mid-Atlantic states.</p>
        <a href="{{ url_for('welcome') }}">Home</a>
        <h2>Faux Snow Forecast</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>State</th>
                <th>Resort</th>
            </tr>
            <tr>
                <td>{{ski_resort.id}}</td>
                <td>{{ski_resort.state}}</td>
                <td>{{ski_resort.name}}</td>
            </tr>
        </table>
{% endblock %}